<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Project Tracker</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home test</a></li>
                <li><a href="#">About</a></li>
                <li><a href="https://docs.google.com/document/d/1s-pW1upRP72_3fBu0s4DUlvko4SJmRr_ijLNLC4Jmqc/">Documentation</a></li>
                <li><a href="#myModel" data-toggle="modal" data-target="#myModel">Contact</a></li>
                <li><a href="views/login/login.html">Login</a></li>
                <li><a href="views/register/register.view.html">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Log-in</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                </div>
                <p class="text-right"><a href="#">Forgot password?</a></p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Log-in</a>
            </div>
        </div>
    </div>
</div>