
            <h2><i class="fa fa-tachometer" aria-hidden="true"></i> My Dashboard</h2>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="homePanel panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="text-center">Welcome<span class="glyphicon glyphicon-saved pull-right"></span></h5>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead">
                            <strong>Welcome to ProjectTracker</strong>
                        </p>
                        <p>Not sure where to start? Check out the <a href="https://docs.google.com/document/d/1sUTWDmY0O_mMcQbew32E4-q2eFMN3fmLQKmoymsHdww/edit">ProjectTracker guide</a></p>
                    </div>
                </div>
            </div>

