.navbar {
    margin-bottom: 0;
    background-color: #006699;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.jumbotron {
    margin-bottom: 0px;!important
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #006699 !important;
    background-color: #fff !important;
}

.homePanel {
    height: 200px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.panel-default {
    opacity: 0.9;
    margin-top: 80px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{

}

.login-register {
    opacity: 0.8;
    filter: alpha(opacity=10);
    background-image: url("../images/backgroundimage.png");
    width: 100%;
    background-size: cover;
}

.form-group.last { margin-bottom:0px; }
.section1 {
    opacity: 0.8;
    filter: alpha(opacity=10);
    background-image: url("../images/backgroundimage.png");
    width: 100%;
    height: 650px;
    background-size: cover;
    color: #ffffff;
}

.small-image {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.small-image:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: 0 auto;
    height:100%;
    max-height: 650px;
    overflow: hidden;
    padding: 0;
    object-fit: cover;
}
.carousel {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
