.nowrap {
    white-space: nowrap;
}

.buttonMargin {
    margin-top: 10px;
}

.body {
    margin-top: 20px;
}

.gradeClass {
    width: 40pt;}

.container {
    width: 100%;
}

.bodyRep {
    padding-left: 20px;
}

table {
    width: 100%;
    word-wrap: break-word;
    table-layout:fixed;
}

.jumbotron {
    margin-bottom : 0px;
    color : darkcyan;
}






