.nowrap {
    white-space: nowrap;
}
.buttonMargin {
    margin-top: 10px;
}
.body {
    margin-top: 20px;
}
.container {
    width: 100%;
}
.table {
    width: 100%;
    word-break: break-all;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.scrollit {
    overflow:scroll;}

.table-responsive {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
    overflow : hidden;
}
td,th {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
    overflow : hidden;
}


.button-test {
    word-wrap: break-word;
    max-width: 100%;
    float: none;
}

@media screen and (max-width: 640px) {
    table {
        overflow-x: auto;
        display: block;
    }
}