<div data-ng-controller='FieldController'>
<h1 class="header">Forms : Registration Form</h1>
    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="#/fields">Fields</a></li>
    </ul>
    <table class="table table-fixed">
        <tbody>
        <tr>
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="FirstName">First Name:</label>
                            <br>
                            <input type="text" id="FirstName" class="form-control" placeholder="First Name"/>
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <br>
                            <a><span class="glyphicon glyphicon-pencil" aria-hidden="true">  </span></a>
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="LastName" >Last Name:</label>
                            <br>
                            <input type="text" id="LastName" class= "form-control" placeholder="Last Name"/>
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <br>
                            <a><span class="glyphicon glyphicon-pencil" aria-hidden="true">  </span></a>
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="Date" >Date Of Birth:</label>
                            <br>
                            <input type="date" class="form-control" id="Date" placeholder="Select Date"/>
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <br>
                            <a><span class="glyphicon glyphicon-pencil" aria-hidden="true">  </span></a>
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="gender">Gender:</label>
                            <br>
                            <select id="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <br>
                            <a><span class="glyphicon glyphicon-pencil" aria-hidden="true">  </span></a>
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>
                                Roles:</label>
                            <br>
                            <input  type="checkbox" name="roles" value="Admin" />Admin <br/>
                            <input  type="checkbox" name="roles" value="Student" />Student<br/>
                            <input  type="checkbox" name="roles" value="User" />User<br/>
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <br>
                            <a><span class="glyphicon glyphicon-pencil" aria-hidden="true">  </span></a>
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>
                                License Agreement:  </label>
                            <br>
                            <input type="radio" name="agreement" value="Yes" checked> Yes<br>
                            <input type="radio" name="agreement" value="No"> No<br>
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <br>
                            <a><span class="glyphicon glyphicon-pencil" aria-hidden="true">  </span></a>
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </form>
        </tr>
        <tr>
            <td>
                <form>
                    <div class="form-group">
                        <div class="row">
                                    <div class="col-sm-6">
                                        <label for="newField">Add New Field:</label>
                                        <br>
                                        <select id="newField">
                                            <option value="Single Line Text">Single Line Text</option>
                                            <option value="Date">Date</option>
                                            <option value="Dropdown">Dropdown</option>
                                            <option value="Checkboxes">Checkboxes</option>
                                            <option value="Radio buttons">Radio buttons</option>
                                            <option value="Paragraph Text Field">Paragraph Text Field</option>
                                        </select>
                                    </div>
                            <div class="col-sm-6">
                                <br>
                                <div class="myDiv">
                                    <a><span class="glyphicon glyphicon-plus" aria-hidden="true">  </span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
