<div ng-controller='AdminController as model'>
    <h1 class="header">Admin</h1>
    <h2 class="sub-header">Users</h2>
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

    <table name="mytable" id="mytable" class="table table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th>
                    <span ng-click="sortType = 'username'; sortReverse = !sortReverse" ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    <span ng-click="sortType = 'username'; sortReverse = !sortReverse" ng-show="sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                Username <br> <br>
                <input class ="form-control" type="text" ng-model = "model.user.username" placeholder="Username"/></th>

            <th>  Password <br> <br>
                <input class ="form-control" type="password" ng-model = "model.user.password" placeholder="Password"/></th>

            <th>
                <span ng-click="sortType = 'firstName'; sortReverse = !sortReverse" ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span ng-click="sortType = 'firstName'; sortReverse = !sortReverse" ng-show="sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
             First Name<br> <br>

                <input class ="form-control" type="text" ng-model = "model.user.firstName" placeholder="First Name"/></th>

            <th>
                <span ng-click="sortType = 'lastName'; sortReverse = !sortReverse"  ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span ng-click="sortType = 'lastName'; sortReverse = !sortReverse"  ng-show="sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
           Last Name <br> <br>
                <input class ="form-control" type="text" ng-model = "model.user.lastName" placeholder="Last Name"/></th>

            <th> Roles <br> <br>
                <input class ="form-control" type="text" ng-model = "model.user.roles" placeholder="role1 , role2"/></th>
            <th> Actions <br><br>
                    <span ng-click="model.addUser(model.user)" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span ng-click="model.updateUser(model.user)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in model.users| orderBy:sortType:sortReverse">
            <td> {{user.username}}</td>
            <td> &nbsp;</td>
            <td> {{user.firstName}}</td>
            <td> {{user.lastName}}</td>
            <td> {{user.roles}}</td>
            <td class = "nowrap">
                    <span ng-click="model.deleteUser(user)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-click="model.selectUser(user)" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>




