<div ng-controller='HomeController as model'>

<div class="container-fluid">

    <div id="myCarousel" class="carousel slide page-left-right-margin" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://expertbeacon.com/sites/default/files/keep_personal_phones_tablets_and_laptops_secure_in_the_workplace.jpg" alt="New York">
            <div class="carousel-caption">
                <h3>Keep goals in clear focus</h3>
                <p>project tracker provides online project management software
                    to set priorities and align your team to
                    work faster and smarter across your organization.</p>
            </div>
        </div>
        <div class="item">
            <img src="images/project-management2.png" alt="Chicago">
            <div class="carousel-caption">
                <h3>Be part of a high-performing team</h3>
                <p>A complete view of your team's workload and deadlines helps
                    everyone perform at their best
                    ,whether they're across the hall or across the country.</p>
            </div>
        </div>
        <div class="item">
            <img src="http://pcitraining_production.s3.amazonaws.com/image/shutterstock_95436538.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <h3>Accomplish more</h3>
                <p>Project Tracker collaboration tools take communication, transparency,
                    and accountability to the next level, so you don't let opportunities slip through the cracks </p>
            </div>
        </div>
    </div>
        <!-- Left and right controls -->
    <span class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </span>
</div>
<br>
    <div class="text-center">
        <h3><i><p class="mainText"><em>Go beyond traditional task and project management</em></p></i></h3>
        <hr noshade size="80">
    </div>

    <div class="container-fluid well-other">
        <div class=row">

        <div class="col-sm-12 col-md-6 well ">
            <h3>Track Projects</h3>
            <h5>Add your Github repository and Project Tracker will sync repository information</h5>
        </div>
        <div class="col-sm-12 col-md-6 well ">
           <h3> <span class="label label-default">New</span>Grade Projects</h3>
            <h5>Instructors can grade and would let you track the projects in few clicks</h5>
        </div>

            </div>
        </div>


<div class="container-fluid content-last">
<div class="row">
    <div class="col-md-6">
<div class="section2 small-image"></div>
    </div>

<div class="textBackground col-md-6 width-set">
    <p>Project Tracker prepares you for the professional world.</p>
     <p>   It is a great platform to represent your project work when working alone
        or when you are collaborate in a team.</p>
    <p>It helps learn how to plan my
        project work</p>
    </div>
    </div>
    </div>
    <div class="container-fluid content-last">
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <div class ="section3 small-image"></div>
        </div >
        <div class="textBackground col-md-6 col-md-pull-6 width-set">
            <p>Project Tracker is  really easy to use.</p>
            <p>It helps visualize projects and all the work done for a coursework.</p>
            <p>You can add or edit projects and keep up with the latest changes going on with your projects.</p>
            <p>If you're just searching for an easy-to-use project management software to help you organize your tasks, Project Tracker is a good fit.</p>
        </div>

        </div>
        </div>

    <div class="container-fluid last">
        <div class="row">

            <div class="col-md-6">
                <div class ="section4 small-image"></div>
            </div >
            <div class="textBackground col-md-6 page-left-right-margin width-set">
                <p>When your to-dos turn into projects, you need a tool that can help you
               organize all of the work you have to do, the work others have to do, and when it all needs to get done.</p>
               <p></p> Its powerful search tool allows you to
                narrow your search by project, users, status and just about anything else you can think of.</p>
            </div>
        </div>
    </div>
    </div>
</div>


