<div ng-controller="SearchController as model">
    <h1>Search Projects</h1>
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panelPadding panel panel-primary">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <br>
                    <label for="inputProjectTitle" class="col-sm-3 control-label">
                        Project title</label>
                    <div class="col-sm-9">
                        <input  ng-model="model.searchProject.title" type="text" class="form-control" id="inputProjectTitle" placeholder="Project Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="projectDescription" class="col-sm-3 control-label">
                        Keywords</label>
                    <div class="col-sm-9">
                        <input  ng-model="model.searchProject.keywords" type="text-area" class="form-control" id="projectDescription" placeholder="Enter keywords here">
                    </div>
                </div>

                <div class="form-group">
                    <label for="projectStatus" class="col-sm-3 control-label">
                        Project Status</label>

                    <div class="col-sm-9" id="projectStatus">
                        <select ng-model="model.searchProject.status" class ="form-control">
                            <option>Started</option>
                            <option>Not Started</option>
                            <option>Completed</option>
                        </select>

                    </div>
                </div>

                <div class="form-group last">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button  ng-click="model.search(model.searchProject)" type="submit" class ="btn btn-primary btn-success">
                            Search</button>
                        <button  ng-click = "model.clear()" type="submit" class ="btn btn-primary btn-success">
                            Clear</button>


                    </div>
                </div>

            </form>
        </div>
    </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4> Search Results </h4>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Project Title</th>
                    <th>project Status</th>
                    <th>Project Commits</th>
                    <th>Project last committer</th>
                </tr>
                </thead>
                <tbody>

                <tr  ng-repeat="project in model.currentSearchProject">
                    <td> {{project.title}} </td>
                    <td> {{project.status}} </td>
                    <td> {{project.commits[commits.length-1].commit.message}} </td>
                    <td> {{project.commits[commits.length-1].commit.committer.name}} </td>

<td>
    <div ng-if="model.currentUser.roles == 'Faculty' ||
    model.currentUser.roles == 'Team Lead'">

        <input  ng-model="project.grade" type="text" class="form-control gradeClass" id="projectGrade">/
        <input  ng-model="project.gradeTotal" type="text" class="form-control gradeClass" id="projectGradeTotal">
        <textarea  ng-model="project.gradeComments" class="form-control" id="projectComments"></textarea>
        <br>
        <button  ng-click = "model.submitGrade(project, model.project)" type="submit" class ="btn btn-primary btn-success">
            Submit Grade</button>
    </div>

</td>

                </tr>
                </tbody>
            </table>
            </div>
    </div>
</div>




