<div ng-controller="SearchController as model">
    <div ng-controller="ProjectController as model2">
    <h1><i class="fa fa-search" aria-hidden="true"></i> Search Projects</h1>
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panelPadding panel panel-primary">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <br>
                    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>
                    <label for="inputProjectTitle" class="col-sm-3 control-label">
                        Project title</label>
                    <div class="col-sm-9">
                        <input  ng-model="model.searchProject.title" type="text" class="form-control" id="inputProjectTitle" placeholder="Project Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="projectDescription" class="col-sm-3 control-label">
                        Keywords</label>
                    <div class="col-sm-9">
                        <input  ng-model="model.searchProject.keywords" type="text-area" class="form-control" id="projectDescription" placeholder="Enter keywords here">
                    </div>
                </div>

                <div class="form-group">
                    <label for="projectStatus" class="col-sm-3 control-label">
                        Project Status</label>

                    <div class="col-sm-9" id="projectStatus">
                        <select ng-model="model.searchProject.status" class ="form-control">
                            <option>Started</option>
                            <option>Not Started</option>
                            <option>Completed</option>
                        </select>

                    </div>
                </div>

                <div class="form-group last">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button  ng-click="model.search(model.searchProject)" type="submit" class ="btn btn-primary btn-success">
                            Search</button>
                        <button  ng-click = "model.clear()" type="submit" class ="btn btn-primary btn-success">
                            Clear</button>


                    </div>
                </div>


            </form>
            <div ng-show="model.currentSearchProject">
                <h3> Search Results </h3>
                <table class="table table-striped table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <span ng-click="model.sortType = 'title'; model.sortReverse = !model.sortReverse" ng-show="!model.sortReverse"
                                class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

                            <span ng-click="model.sortType = 'title'; model.sortReverse = !model.sortReverse" ng-show="model.sortReverse"
                            class="glyphicon glyphicon-triangle-top" aria-hidden="true">
                            </span>
                            Project Title
                        </th>
                        <th> Project User</th>
                        <th>Project Status</th>
                        <th>Project Commits</th>
                        <th>Github Owner</th>
                        <th>
                            <span  ng-show="!model.sortReverse" ng-click="model.sortType = 'grade'; model.sortReverse = !model.sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            <span  ng-show="model.sortReverse" ng-click="model.sortType = 'grade'; model.sortReverse = !model.sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                            Grade
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr  ng-repeat="project in model.currentSearchProject| orderBy:model.sortType:model.sortReverse">
                        <td> {{project.title}} </td>
                        <td>{{project.userId}}</td>
                        <td> {{project.status}} </td>
                        <td ng-click = "model2.gitprojectCommits(project)"><a href="#/projectCommits">Click to view commits</a></td>
                        <td ng-click = "model2.gitUserProfile(project)"><a href="#/userGitProfile">{{project.gusername}}</a></td>
                        <td>
                            <div ng-if = "project.grade && (currentUser.roles == 'Faculty'
                            || currentUser.roles == 'Team Lead')">
                            <span>{{project.grade}}</span>
                                <button ng-click="model.submitGrade(project)" style="float:right" type="submit" class ="btn btn-primary btn-success">
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                </button>
                            </div>

                            <div ng-if = "currentUser.roles == 'Student'">
                                <span>{{project.grade}}</span>

                            </div>

                            <div ng-if = "!project.grade && (currentUser.roles == 'Faculty'
                            || currentUser.roles == 'Team Lead')">
                                <span>--</span>
                                <button ng-click="model.submitGrade(project)" style="float:right" type="submit" class ="btn btn-primary btn-success">
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>



    </div>
</div>
</div>
    </div>



