<div ng-controller='ProjectController as model' class="access-margin-fix">
    <h4 class="sub-header">Modify Project Access</h4>
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

    <table name="mytable" id="mytable" class="table table-striped table-bordered table-responsive">
        <thead>
        <tr>
<th>
    Email Id
            <input class ="form-control" type="text" ng-model = "access.userId" placeholder="Email id"/></th>
</th>
            <th  class = "actionAlign"> Actions <br><br>
                <button ng-click="addAccess(access)" class="btn btn-success" aria-hidden="true">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button ng-click="updateAccess(access)" class="btn btn-success" aria-hidden="true">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="access1 in accesses">
            <td> {{access1.userId}}</td>
            <td class = "nowrap">
                <button ng-click="deleteAccess(access1)" class="btn btn-success" aria-hidden="true">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button ng-click="selectAccess($index)" class="btn btn-success" aria-hidden="true">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal-footer ">
        <div class="col-sm-6">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
        </div>
    </div>
</div>




