<div ng-controller="ProjectController">
    <div class="panelPadding panel panel-primary">
        <h3 ng-if="gitProject.commitsFound"> Commits </h3>
        <h3 ng-if="!gitProject.commitsFound">No Commits Found / Not Authorized</h3>
        <table  ng-if="gitProject.commitsFound" class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>SHA</th>
                <th>Committer Name</th>
                <th>Committer Date</th>
                {{gitProject.commits}}
            </tr>
            </thead>
            <tbody>

            <tr  ng-repeat="commit in gitProject.commits | startFrom:(model.currentPage-1)* model.pageSize | limitTo: model.pageSize">
                <td> {{commit.sha.substring(0,6)}} </td>
                <td> {{commit.commit.committer.name}} </td>
                <td> {{commit.commit.committer.date | date}} </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination ng-if="gitProject.commitsFound"
                        total-items="gitProject.commits.length" ng-model="model.currentPage" items-per-page="model.pageSize">
        </uib-pagination>
    </div>

</div>