<div ng-controller="ProjectController as model">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar"  >
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/user">Manage User</a></li>
                    <li class="active"><a href="#/project">Projects</a></li>
                </ul>
        </div>
        <div>
    <div  class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <br>
    <h1>Projects</h1>
        <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panelPadding panel panel-primary">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Add/Update Project</a></li>
        <li><a href="#/renderProjects">View All Projects</a></li>
    </ul>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <br>
            <label for="inputProjectTitle" class="col-sm-3 control-label">
                Project title</label>
            <div class="col-sm-9">
                <input  ng-model="currentProject.title" type="text" class="form-control" id="inputProjectTitle" placeholder="Project Title">
            </div>
        </div>
        <div class="form-group">
            <label for="projectDescription" class="col-sm-3 control-label">
                Description</label>
            <div class="col-sm-9">
                <input  ng-model="currentProject.description" type="text-area" class="form-control" id="projectDescription" placeholder="Enter description here">
            </div>
        </div>
        <div class="form-group">
            <label for="projectStatus" class="col-sm-3 control-label">
                Status</label>
            <div class="col-sm-9">
                <select  ng-model="currentProject.status" class="form-control" id="projectStatus">
                    <option class="form-control" value="Open">Open</option>
                    <option class="form-control" value="Closed">Closed</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="githubusername" class="col-sm-3 control-label">
                Github username</label>
            <div class="col-sm-9">
                <input  ng-model="currentProject.gusername" type="text" class="form-control" id="githubusername"  placeholder="Github username">
            </div>
        </div>
        <div class="form-group">
            <label for="githubrepository" class="col-sm-3 control-label">
                Github repository</label>

                <div class="col-sm-9" id="githubrepository">
                    <select ng-model="currentProject.grepository" class ="form-control">
                        <option> Repository 1</option>
                        <option> Repository 2</option>
                        <option> Repository 3</option>
                    </select>

            </div>
</div>
        <div class="form-group">
            <label for="projectDate" class="col-sm-3 control-label">
                Start Date</label>
            <div class="col-sm-9">
                <input ng-model="currentProject.startDate" id="projectDate"  type="date" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="projectEndDate" class="col-sm-3 control-label">
                End Date</label>
            <div class="col-sm-9">
                <input ng-model="currentProject.endDate" id="projectEndDate"  type="date" class="form-control"/>
            </div>
        </div>
        <div class="form-group last">
            <div class="col-sm-offset-2 col-sm-9">
                <button  ng-click="model.addProject(currentProject)" type="submit" class ="btn btn-primary btn-success">
                    Add Project</button>
                <button  ng-click = "model.updateProject(currentProject)" type="submit" class ="btn btn-primary btn-success">
                    Update Project</button>
                <button  ng-click="model.cancel()" type="submit" class ="btn btn-primary">
                    Cancel</button>
            </div>
        </div>

    </form>
</div>
        </div>
    </div>
        </panel>
        </div>
    </div>
    </div>
</div>