<div ng-controller="ProjectController as model">
    <h1>Projects</h1>
        <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panelPadding panel panel-primary">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Add/Update Project</a></li>
        <li><a href="#/renderProjects">View All Projects</a></li>
    </ul>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <br>
            <label for="inputProjectTitle" class="col-sm-3 control-label">
                Project title</label>
            <div class="col-sm-9">
                <input  ng-model="currentProject.title" type="text" class="form-control" id="inputProjectTitle" placeholder="Project Title">
            </div>
        </div>
        <div class="form-group">
            <label for="projectDescription" class="col-sm-3 control-label">
                Description</label>
            <div class="col-sm-9">
                <input  ng-model="currentProject.description" type="text-area" class="form-control" id="projectDescription" placeholder="Enter description here">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">
                Status</label>
            <div class="col-sm-9">
                {{currentProject.status}}
            </div>
        </div>
        <div class="form-group">
            <label for="githubusername" class="col-sm-3 control-label">
                Github username</label>
            <div class="col-sm-9">
                <input  ng-disabled="profile" ng-model="currentProject.gusername" ng-change ="model.getGitInfo(currentProject.gusername)" ng-model-options="{debounce:2000}" type="text" class="form-control" id="githubusername"  placeholder="Github username" required>
            </div>
        </div>
        <div class="form-group">
            <label for="githubrepository" class="col-sm-3 control-label">
                Github repository</label>

                <div class="col-sm-9" id="githubrepository">
                    <select ng-disabled="profile" id="option" ng-model ="currentProject.repos" class="form-control" ng-options="repo.name for repo in model.repos track by repo.name" required>
                    </select>

            </div>
</div>
        <div class="form-group">
            <label for="projectDate" class="col-sm-3 control-label">
                Start Date</label>
            <div class="col-sm-9">
                <input ng-model="currentProject.startDate" id="projectDate"  type="date" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="projectEndDate" class="col-sm-3 control-label">
                End Date</label>
            <div class="col-sm-9">
                <input ng-model="currentProject.endDate" id="projectEndDate"  type="date" class="form-control"/>
            </div>
        </div>
        <div class="form-group last">
            <div class="col-sm-offset-2 col-sm-9">
                <button  ng-click="model.addProject(currentProject)" type="submit" class ="btn btn-primary btn-success">
                    Add Project</button>
                <button  ng-click = "model.updateProject(currentProject)" type="submit" class ="btn btn-primary btn-success">
                    Update Project</button>
                <button  ng-click="model.cancel(currentProject)" type="submit" class ="btn btn-primary">
                    Cancel</button>
            </div>
        </div>

    </form>
</div>
        </div>
    </div>
        </panel>
        </div>
    </div>

</div>